{% extends "base.html" %}
{% block content %}

<section class="hero">
  <div class="hero-content reveal">

    <h1 class="fade-in">Build Your Future in Tech</h1>
    <p class="slide-up">
      Practical articles on Web Development, Python & Backend Engineering
    </p>
    <a href="#articles" class="btn pulse">Explore Articles</a>
  </div>
</section>


<section class="container" id="articles">
  <h2 class="section-title">Latest Articles</h2>

  <div class="grid">
    {% for article in articles %}
    <a href="/article/{{ article['slug'] }}" class="card reveal">

      <img src="{{ article['image'] }}"class="card-img">
      <h3>{{ article['title'] }}</h3>
      <p>{{ article['content'][:100] }}...</p>
    </a>
    {% endfor %}
  </div>
</section>

{% endblock %}
